<IfModule mod_ssl.c>
    <VirtualHost _default_:443>
        ServerAdmin webmaster@localhost
        ServerName {{ http_host }}
        ServerAlias www.{{ http_host }}
        DocumentRoot /var/www/{{ http_host }}/castopod/public

        LogLevel info ssl:warn

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        #   SSL Engine Switch:
        #   Enable/Disable SSL for this virtual host.
        SSLEngine on
        SSLCertificateFile    /etc/ssl/certs/castopod.crt
        SSLCertificateKeyFile /etc/ssl/private/castopod.pk8

        <Directory /var/www/{{ http_host }}/castopod/public>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Directory>
    </VirtualHost>
</IfModule>
